[Unit]
Description=Keyboard application
DefaultDependencies=no
Wants=mosquitto.service
After=mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=user
Group=user

Restart=always
RestartSec=5

WorkingDirectory=/home/user/Raspberry-Pi-1-NAS
ExecStart=/home/user/Raspberry-Pi-1-NAS/.venv/bin/python /home/user/Raspberry-Pi-1-NAS/Keyboard-app/main.py

[Install]
WantedBy=multi-user.target
